# Intellij project files
*.iml
*.iws
*.ipr
*.ids
.idea
.pmd.log

# Maven versions plugin backup
*.versionsBackup

# All target directories
*/target/**
/wikipedia-miner-core/target/
/wikipedia-miner-extract/target/
/wikipedia-miner-web/target/
/wikipedia-miner-web/nb-configuration.xml
/wikipedia-miner-web/src/main/webapp/WEB-INF/web.xml
/target/
/wikipedia-miner-core/nbactions.xml
/wikipedia-miner-core/nb-configuration.xml